<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }} | Alex Jegtnes</title>

  {{>head}}
</head>
<body>
  <div class="main-container">

    {{>header}}

    <main>

      {{{ contents }}}

      <ul>

        {{#each collections.blog}}
        <li>
          <h2><a href=/{{this.path}}>{{{this.title}}}</a></h2>
          <p><time datetime="{{this.date}}">{{this.date}}</time></p>
          <p>{{{ excerpt this.excerpt this.contents 200 }}}</p>
        </li>
        {{/each}}

      </ul>
    </main>

    {{>footer}}
  </div>
</body>
</html>
