<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }} | Alex Jegtnes ✨</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="{{{ excerpt this.excerpt this.contents 200 }}}">
  <meta property="og:description" content="{{{ excerpt this.excerpt this.contents 200 }}}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="Jegtnes">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@jegtnes">
  <meta name="twitter:label1" content="Author:">
  <meta name="twitter:data1" content="Alex Jegtnes">
  <meta name="twitter:label2" content="Published on:">
  <meta name="twitter:data2" content="{{time date}}">
  <meta name="twitter:site" content="@jegtnes">
  <meta name="twitter:domain" content="jegtnes.com">

  {{>head}}
</head>
<body class="w-100">
  {{>header}}

  <main>
    <article class="f4 pl3 pr3 mw7 center">
      <header class="item-header bdb pb3 pt3">
        <h1 class="lh-title f3 f2-m f1-l ttu mb0 mt2">
          <a class="link" href=/{{this.path}}>{{{this.title}}}</a>
        </h1>
        <p class="f6 ttu pb0 mb0 bdt pt3">
          <time datetime="{{time date true}}">{{time date}}</time>
        </p>
      </header>

      <div class="measure lh-copy f5 f3-ns markdown-content">
        {{{ contents }}}

        {{>comments}}
      </div>
    </article>
  </main>

  {{>footer}}
  {{>foot}}
</body>
</html>
