<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }} | Alex Jegtnes</title>

  {{>head}}
</head>
<body>
  <div class="main-container">

    {{>header}}

    <main>

      {{{ contents }}}

      <ul>

        {{#each collections.blog}}
        <li>
          {{{ excerpt this.contents 200 }}}
          <a href=/{{this.path}}>{{{this.title}}}</a>
        </li>
        {{/each}}

      </ul>
    </main>

    {{>footer}}
  </div>
</body>
</html>
