<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }} | Alex Jegtnes</title>

  {{>head}}
</head>
<body class="w-100">
  <div class="pa3">

    {{>header}}

    <main>

      {{{ contents }}}

      <ul class="list pl0">

        {{#each collections.blog}}
        <li class="m0 mb4">
          <h2 class="ma0 mb2"><a href=/{{this.path}}>{{{this.title}}}</a></h2>
          <p class="ma0 mb2"><time datetime="{{this.date}}">{{this.date}}</time></p>
          <p class="ma0">{{{ excerpt this.excerpt this.contents 200 }}}</p>
        </li>
        {{/each}}

      </ul>
    </main>

    {{>footer}}
  </div>
</body>
</html>
