<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }} | Alex Jegtnes</title>

  {{>head}}
</head>
<body class="w-100">

  <div class="pa3 mw7 center">
    {{>header}}
  </div>
  <main>
    <article class="f4 pl3 pr3 mw7 center">
      <header class="item-header bdb pb3 pt3">
        <h1 class="f3 f2-m f1-l ttu bdt mb0 pt3">
          <a class="link" href=/{{this.path}}>{{{this.title}}}</a>
        </h1>
        <time class="f6 f3-ns ttu pb0 mb0" datetime="{{time date true}}">{{time date}}</time>
      </header>

      <div class="measure lh-copy f5 f3-ns markdown-content">
        {{{ contents }}}
      </div>
    </article>
  </main>

  {{>footer}}
  {{>foot}}
</body>
</html>
