<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }} | Alex Jegtnes</title>

  {{>head}}
</head>
<body class="w-100">

  <div class="pa3 mw7 center">
    {{>header}}
  </div>
  <main>
    <div class="f4 pl3 pr3 mw7 center">
      <header class="item-header bdb pb3">
        <h1 class="f3 f2-m f1-l ttu bdt mb0 pt3">{{title}}</h1>
        <p class="f6 f3-ns ttu pb0 mb0">
          <time class="" datetime="{{time date true}}">{{time date}}</time>
        </p>
      </header>
      <article class="measure lh-copy f6 f4-ns markdown-content">
        {{{ contents }}}
      </article>
    </div>
  </main>

  {{>footer}}
  {{>foot}}
</body>
</html>
