<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }} | Alex Jegtnes ✨</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="The website of Alex Jegtnes, a freelance full-stack developer.">
  <meta property="og:description" content="The website of Alex Jegtnes, a freelance full-stack developer.">
  <meta property="og:title" content="Alex Jegtnes">
  <meta property="og:site_name" content="Jegtnes">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@jegtnes">
  <meta name="twitter:site" content="@jegtnes">
  <meta name="twitter:domain" content="jegtnes.com">

  {{>head}}
</head>
<body class="w-100 ma0">
  {{>header}}

  <div class="pt3 pb4 ph3 mw7 center">

    <main>
      {{{ contents }}}
    </main>

    <h2 class="ttu f1 mb2">Latest blog posts:</h2>

    <ul class="list pl0">

      {{#each (arraySlice collections.blog 5)}}
      <li class="mb4">
        <h2 class="ttu f3 ma0 mb2"><a class="link" href=/{{this.path}}>{{{this.title}}}</a></h2>
        <p class="ma0 mb2"><time datetime="{{time this.date true}}">{{time this.date}}</time></p>
        <p class="ma0">{{{ excerpt this.excerpt this.contents 200 }}}</p>
      </li>
      {{/each}}

    </ul>

    <a href="/blog" class="link ba br4 bw1 dib ph3 pv2 jegtnes-black">View the full archives…</a>

  </div>
  {{>footer}}
  {{>foot}}
</body>
</html>
