<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }} | Alex Jegtnes ✨</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{#if description}}
    <meta name="description" content="{{description}}">
    <meta property="og:description" content="{{description}}">
  {{else}}
    <meta name="description" content={{"The website of Alex Jegtnes, a freelance developer."}}>
    <meta property="og:description" content={{"The website of Alex Jegtnes, a freelance developer."}}>
  {{/if}}

  <meta property="og:title" content="Alex Jegtnes">
  <meta property="og:site_name" content="Jegtnes">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@jegtnes">
  <meta name="twitter:site" content="@jegtnes">
  <meta name="twitter:domain" content="jegtnes.com">

  {{#if twitterLabel1}}
    <meta name="twitter:label1" content="{{twitterLabel1}}">
  {{/if}}
  {{#if twitterData1}}
    <meta name="twitter:data1" content="{{twitterData1}}">
  {{/if}}
  {{#if twitterLabel2}}
    <meta name="twitter:label2" content="{{twitterLabel2}}">
  {{/if}}
  {{#if twitterData2}}
    <meta name="twitter:data2" content="{{twitterData2}}">
  {{/if}}

  {{>head}}
</head>
<body class="w-100 ma0">
  {{>header}}

  <div class="pt3 pb4 ph3 mw7 center">

    <main id="{{slugify title}}">
      {{{ contents }}}
    </main>

  </div>
  {{>footer}}
  {{>foot}}
</body>
</html>
