<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }} | Alex Jegtnes</title>

  {{>head}}
</head>
<body class="w-100">

  <div class="pa3 mw7 center">
    {{>header}}

    <main>
      {{{ contents }}}
    </main>

    <ul class="list pl0 portfolio-list">

      {{#each collections.portfolio}}
      <li class="m0 mb4 portfolio-list__item">
        <h2 class="ttu f3 ma0 mb2"><a class="link" href=/{{this.path}}>{{{this.title}}}</a></h2>
        <p class="ma0">{{{ excerpt this.excerpt this.contents 200 }}}</p>
      </li>
      {{/each}}

    </ul>

    {{>footer}}
  </div>
{{>foot}}
</body>
</html>
